@import "tailwindcss";
@import "tw-animate-css";

@source "../components";
@source "../lib";

@custom-variant dark (&:is(.dark *));

:root {
  --surface-canvas: #faf8f6;
  --surface-canvas-inverse: #0f0f10;
  --surface-alpha: #3f3d3910;
  --content-ink: #3f3d39;
  --content-body: #3f3d3980;
  --content-subdued: #3f3d3940;
  --content-ink-inverse: #fafafa;
  --stroke-soft: #3f3d3910;
}

.dark {
  --surface-canvas: #0f0f10;
  --surface-canvas-inverse: #faf8f6;
  --surface-alpha: #fafafa10;
  --content-ink: #ffffff;
  --content-ink-inverse: #3f3d39;
  --content-body: #c7c7c7;
  --content-subdued: #fafafa70;
  --stroke-soft: #fafafa10;
}

@theme inline {
  --color-surface-canvas: var(--surface-canvas);
  --color-surface-canvas-inverse: var(--surface-canvas-inverse);
  --color-surface-alpha: var(--surface-alpha);
  --color-content-ink: var(--content-ink);
  --color-content-body: var(--content-body);
  --color-content-subdued: var(--content-subdued);
  --color-content-ink-inverse: var(--content-ink-inverse);
  --color-stroke-soft: var(--stroke-soft);
}

@layer base {
  * {
    @apply border-stroke-soft divide-stroke-soft text-content-ink;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  button,
  a {
    @apply cursor-pointer disabled:pointer-events-none disabled:opacity-50;
  }

  html,
  body {
    overscroll-behavior: none;
    scrollbar-gutter: stable;
  }
}
