@import "tailwindcss";
@import "tw-animate-css";

@source "../components";
@source "../lib";

@custom-variant dark (&:is(.dark *));

:root {
  --accent-surface-canvas: #f0fb29;
  --surface-canvas: #ffffff;
  --surface-canvas-inverse: #0f0f10;
  --surface-alpha: #3f3d3910;
  --content-ink: #3f3d39;
  --content-body: #18181b;
  --content-subdued: #796969;
  --content-ink-inverse: #ffffff;
  --content-ink-on-accent: #0f0f10;
  --stroke-soft: #3f3d3920;
  --stroke-hard-on-accent: #0f0f10;
}

.dark {
  --accent-surface-canvas: #f0fb29;
  --surface-canvas: #0f0f10;
  --surface-canvas-inverse: #ffffff;
  --surface-alpha: #fafafa10;
  --content-ink: #ffffff;
  --content-body: #ececef;
  --content-subdued: #8A8A8A;
  --content-ink-inverse: #3f3d39;
  --content-ink-on-accent: #0f0f10;
  --stroke-soft: #fafafa20;
  --stroke-hard-on-accent: #0f0f10;
}

@theme inline {
  --color-accent-surface-canvas: var(--accent-surface-canvas);
  --color-surface-canvas: var(--surface-canvas);
  --color-surface-canvas-inverse: var(--surface-canvas-inverse);
  --color-surface-alpha: var(--surface-alpha);
  --color-content-ink: var(--content-ink);
  --color-content-body: var(--content-body);
  --color-content-subdued: var(--content-subdued);
  --color-content-ink-inverse: var(--content-ink-inverse);
  --color-content-ink-on-accent: var(--content-ink-on-accent);
  --color-stroke-soft: var(--stroke-soft);
  --color-stroke-hard-on-accent: var(--stroke-hard-on-accent);
}

@layer base {
  *::-webkit-scrollbar {
    display: none;
  }

  button,
  a {
    @apply cursor-pointer disabled:pointer-events-none disabled:opacity-50;
  }

  html,
  body {
    @apply text-content-body border-stroke-soft divide-stroke-soft bg-surface-canvas;
    overscroll-behavior: none;
    scrollbar-gutter: stable;
  }
}
